
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Env
server/.env
client/.env

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/
client/package-lock.json
server/package-lock.json

# REACT
client/.pnp
client/.pnp.js

# production
client/build
